<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
    rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Hi</h1>

    <form name="getstockquote" action="getstockquote" method="POST" >
        <ul>
            <li><label>User:</label> <input type='text' name='j_username' /></li>
            <li><label>&nbsp;</label> <input type="submit" value="OK" class="btn"></li>
        </ul>
    </form>
</div>
</body>
</html>